.gallery {
    margin: 0 auto;
}

.gallery-grid {
    column-count: 5;
    margin: 10rem auto;
    width: 100%;
    max-height: 130vh;
}

.gallery__img {
    border-radius: 10px;
	height: auto;
    margin: 1em 1em 0 0;
}


@media only screen and (max-width: 1200px) {
    .gallery-grid {
        column-count: 4;
        max-height: 150vh;
    }
}
@media only screen and (max-width: 1000px) {
    .gallery-grid {
        column-count: 3;
        max-height: 250vh;
    }
}
@media only screen and (max-width: 900px) {
    .gallery-grid {
        column-count: 2;
    }
}


@media only screen and (max-width: 400px) {
    .gallery-grid {
        column-count: 1;
        max-height: 300vh;
    }
    /* .grid-gallery__item {
        margin: 0 auto;
    } */
}